<mat-toolbar class="navbar" color="accent">
  <a href="/home">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu_book</mat-icon>
  </button>
  </a>
  <a href="/signup">
  <span class="myapp">Exam Portal</span>
</a>
  <span class="example-spacer"></span>
  <a href="/login">
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>login</mat-icon>
  </button>
</a>
<a href="/logout">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>logout</mat-icon>
  </button>
</a>
</mat-toolbar>
