<div class="bootstrap-wrapper">
<div class="container">
  <div class="row">
   
<div class="col-md-6 offset-md-3">
 
  <div class="container text-center">     
    <img class="logo-img" src="../../../assets/logo.png" alt=""/> 
    </div>
    <h3 class="login text-center">Login Here</h3>
    <form>

      <!-- Username -->
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Username</mat-label>
        <input 
        required
        matInput placeholder="Username">
        <mat-hint>valid user required</mat-hint>
      </mat-form-field>
      <!-- Password -->
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Password</mat-label>
        <input 
        required
        type="password"
        matInput placeholder="Username">
      </mat-form-field>
      <!-- Buttons -->
       <div class="container text-center">
        <button type="submit" mat-raised-button color="primary">Login</button>
        <button class="reset-button" mat-raised-button color="accent">Reset</button>
       </div>
       <!-- Login Button -->

        <!-- Reset Button -->
    </form>
</div>
  </div>
  
</div>
</div>